.bannerDiv {
  width: 100%;
  background-image: url(assets/images/Coachkeepers_img6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  &__content {
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
    background: hsla(0, 0%, 0%, 0.5);
    &__container {
      width: 80%;
      flex-direction: column;
      display: flex;
      align-items: center;
      .promise {
        margin-bottom: 0;
      }
    }
  }
}

// @media screen and (min-width: 720px) {
//   .bannerDiv {
//     width: 100%;
//   }
// }
