@use "sass:math";
$grid-columns: 12;

.item-a {
  grid-area: header;
  background-color: aqua;
}
.item-b {
  grid-area: main;
}
.item-c {
  grid-area: sidebar;
}
.item-d {
  grid-area: footer;
}

.grid {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  height: 50px;
  // background-color: aqua;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}

#main {
  margin-bottom: 0px;
}

section {
  // margin: $base-margin;
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  box-sizing: border-box;
  background-color: $primary;
  &__title {
    color: $black;
  }
}

.large {
  background-color: $green;
  width: 90%;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

header,
footer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: $white;
  background-color: $black;
  justify-content: flex-start;
  ul {
    display: flex;
    flex-direction: column;
    li {
      margin: 0;
      .fa-solid fa-list-ul {
        margin-left: 0;
        background-color: greenyellow;
      }
    }
  }
}

.section {
  width: 100%;
  background-color: $primary;
  margin: 0;
  padding: 0;
}

@include xs {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xs {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include sm {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-sm {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include md {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-md {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include lg {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-lg {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include xl {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xl {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
  }

  section {
    // margin: $base-margin;
    background-color: rgb(196, 231, 255);
  }

  .large {
    background-color: $green;
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: baseline;
    align-items: end;
    height: 10em;
    padding-bottom: 3em;
    padding-top: 5em;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5em;
    img {
      height: 2em;
    }
    ul {
      display: flex;
      flex-direction: row;
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        image {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        margin: 0;
        .fa-solid fa-list-ul {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 90%;
  }
}
