@use "sass:math";
$grid-columns: 12;

@mixin grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 100px);
  gap: 10px;
  margin: 1em auto;
}

.gridA {
  @include grid;
  margin: 0;
  height: inherit;
  .item-a {
    grid-row: 1 / 9;
    grid-column: 1 / 4;
    background-image: url(assets/images/coachkeepers_img5.jpg);
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #161f4343;
  }
  .item-b {
    grid-row: 1 / 3;
    grid-column: 5 / 9;
    background-color: blueviolet;
  }
  .item-c {
    grid-row: 4 / 6;
    grid-column: 6 / 9;
    background-color: greenyellow;
  }
  .item-d {
    grid-row: 6 / 9;
    grid-column: 4 / 5;
    background-color: pink;
  }
}

.gridB {
  @include grid;
  margin: 0;
  height: 90vh;
  .item-a {
    grid-row: 1 / 9;
    grid-column: 1 / 9;
    background-image: url(assets/images/coachkeepers_img2.jpg);
    background-size: cover;
    place-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    &__content {
      color: $primary;
      padding: 1.5em;
      height: 100%;
      width: 100%;
      background: hsla(0, 0%, 0%, 0.5);
      display: flex;
      flex-direction: column;

      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
  }
}

.item > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: none;
}

#main {
  margin-bottom: 0px;
}

section {
  height: fit-content;
  // background-color: bisque;
  margin: 4em 0;
  &:first-child {
    margin-top: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1em auto;
  box-sizing: border-box;
  &__title {
    color: $black;
  }
}

.large {
  width: 100%;
  // height: 100vh;
}
.small {
  width: 100%;
  padding: 1em 0;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  // flex-direction: row;
}

@include xs {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xs {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include sm {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-sm {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include md {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-md {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include lg {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-lg {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}
@include xl {
  @for $i from 1 through $grid-columns {
    .col-#{$i}-xl {
      box-sizing: border-box;
      flex-grow: 0;
      width: math.div($i * 100%, $grid-columns);
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 80%;
    // margin: 10em;
    &:first-child {
      margin-top: 0;
    }
  }

  section {
    margin: 9em 0;
    .center {
      display: flex;
      justify-content: center;
    }
  }

  .large {
    // background-color: $green;
    width: 100%;
    padding: 1em 0;
  }
  .small {
    width: 60%;
    padding: 1em 0;
  }

  // footer {
  //   display: flex;
  //   justify-content: baseline;
  //   align-items: end;
  //   height: 10em;
  //   padding-bottom: 3em;
  //   padding-top: 5em;
  //   display: flex;
  //   padding-right: 5em;
  //   img {
  //     height: 2em;
  //   }
  //   ul {
  //     display: flex;
  //     flex-direction: row;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     li {
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //       image {
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //       }
  //       margin: 0;
  //       .fa-solid fa-list-ul {
  //         margin-left: 0;
  //       }
  //     }
  //   }
  // }
}
