.container {
  &.desktop {
    display: none;
  }

  &.mobile {
    display: flex;
  }

  @media screen and (min-width: 720px) {
    &.desktop {
      display: flex;
    }

    &.mobile {
      display: none;
    }
  }
}
