.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .contactUs {
    flex-direction: row;
  }
}
